<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Build MS AD Objects Lookups</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
  </head>
  <body class="locale-en">
    <a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
    <div class="header splunk-header">
      <div id="placeholder-splunk-bar">
        <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
      </div>
      <div id="placeholder-app-bar"></div>
    </div>
    <div class="footer"><a href="/app/ms_windows_ad_objects/ms_ad_obj_overview?form.tok_show_top_level=app_main_deploy" target="_blank">MS Windows AD Objects - Overview --&gt; Deployment Steps</a></div>
    <!-- 
      END LAYOUT
      -->
    <script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
    <script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
	<!-- 
	 	Replace: "common": "{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_app_windows_infrastructure/js/common",
	 			"splunk_app_windows_infrastructure": "{{SPLUNKWEB_URL_PREFIX}}/static/app/splunk_app_windows_infrastructure/js/splunk_app_windows_infrastructure",
	 	With: 	"common": "{{SPLUNKWEB_URL_PREFIX}}/static/app/ms_windows_ad_objects/js/common",
              "ms_windows_ad_objects": "{{SPLUNKWEB_URL_PREFIX}}/static/app/ms_windows_ad_objects/js/ms_windows_ad_objects",		
	 
	 	Replace: "splunk_app_windows_infrastructure/lookupbuilder/lookupbuilder"
     	With:"ms_windows_ad_objects/ms_ad_obj_lookupbuilder/ms_ad_obj_lookupbuilder"
     	
     	Replace Function: LookupBuilder
     	With: ms_ad_obj_LookupBuilder
	 -->
    <script type="text/javascript">	
      // <![CDATA[
      require.config({
          paths: {
              "common": "{{SPLUNKWEB_URL_PREFIX}}/static/app/ms_windows_ad_objects/js/common",
              "ms_windows_ad_objects": "{{SPLUNKWEB_URL_PREFIX}}/static/app/ms_windows_ad_objects/js/ms_windows_ad_objects",
          },
          baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js"
      });
      
      require([
          "splunkjs/mvc",
          "splunkjs/mvc/utils",
          "splunkjs/mvc/tokenutils",
          "underscore",
          "jquery",
          "splunkjs/mvc/simplexml",
          "splunkjs/mvc/headerview",
          "splunkjs/mvc/footerview",
          "splunkjs/mvc/simplexml/dashboardview",
          "ms_windows_ad_objects/ms_ad_obj_lookupbuilder/ms_ad_obj_lookupbuilder"
          ],
          function(
              mvc,
              utils,
              TokenUtils,
              _,
              $,
              DashboardController,
              HeaderView,
              FooterView,
              Dashboard,
              LookupBuilder
              ) {
      
      
              ///
              // SPLUNK HEADER AND FOOTER
              //
      
              new HeaderView({
                  id: 'header',
                  section: 'dashboards',
                  el: $('.header'),
                  acceleratedAppNav: false,
                  useSessionStorageCache: true,
                  splunkbar: true,
                  appbar: false,
                  litebar: false,
              }, {tokens: true}).render();
      
              new FooterView({
                  id: 'footer',
                  el: $('.footer')
              }, {tokens: true}).render();
      
      
              //
              // DASHBOARD EDITOR
              //
      
              new Dashboard({
                  id: 'dashboard',
                  el: $('.dashboard-body'),
                  editable: false
              }, {tokens: true}).render();
      
              //
              // DASHBOARD READY
              //
      
              DashboardController.ready();
          }
      );
      // ]]>
    </script>
  </body>
</html>