.app-bar.shared-appbar .nav-pills>li>a{
     color: black; 
 }
 
 .btn_build {
 	background-color: #4CAF50; /* Green */
    border: 2px solid #555555; /* Green */
    color: white;
    border-radius: 4px;
}

 .btn_build:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}