a.btn.small 
{
    padding: 2px 10px;
    font-size: 10.2px;
    border-radius: 3px;
    background-color: #619f35;
    background-image: linear-gradient(180deg,#65a637,#5b9532);
    background-repeat: repeat-x;
    background-color: #65a637;
    border: 1px solid #4d7e2a;
    border-bottom-color: #4d7e2a;
    border-top-color: #4d7e2a;
    color: #fff;
    box-shadow: inset 0 1px 0 #69ac39;
    text-shadow: none;
}
#input_release_notes_id 
{
  text-align: center !important;
  vertical-align: middle !important;
  line-height:5px !important;
  height: 65px !important;
  width: 15% !important;
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  margin: 0 0 0 15px !important;
  padding: 0 0 0 15px !important;
}
#input_release_notes_id label
{
  font-weight: bold !important;
  text-align: center !important;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;  
}
#input_release_notes_id a {
  margin-left: 2px;
  margin-right: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px !important;
  text-align: center !important;
  font-size: 10px !important;
  background-color:#ffffff;
  border:1px solid #999;
  border:1px solid rgba(0, 0, 0, 0.3);
  *border:1px solid #999;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding-box;
  background-clip:padding-box;
  outline:none;
} 
#input_splk_ent_id 
{
  text-align: center !important;
  vertical-align: middle !important;
  line-height:5px !important;
  height: 65px !important;
  width: 35% !important;
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  margin: 0 0 0 15px !important;
  padding: 0 0 0 15px !important;
}
#input_splk_ent_id label
{
  font-weight: bold !important;
  text-align: center !important;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;  
}
#input_splk_ent_id a {
  margin-left: 2px;
  margin-right: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px !important;
  text-align: center !important;
  font-size: 10px !important;
  background-color:#ffffff;
  border:1px solid #999;
  border:1px solid rgba(0, 0, 0, 0.3);
  *border:1px solid #999;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding-box;
  background-clip:padding-box;
  outline:none;
} 
#input_splk_cloud_id 
{
  text-align: center !important;
  vertical-align: middle !important;
  line-height:5px !important;
  height: 65px !important;
  width: 35% !important;
  box-shadow: 0px 0px 4px #222;  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);  
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  margin: 0 0 0 15px !important;
  padding: 0 0 0 15px !important;
}
#input_splk_cloud_id label
{
  font-weight: bold !important;
  text-align: center !important;
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;  
}
#input_splk_cloud_id a {
  margin-left: 2px;
  margin-right: 2px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 200px !important;
  text-align: center !important;
  font-size: 10px !important;
  background-color:#ffffff;
  border:1px solid #999;
  border:1px solid rgba(0, 0, 0, 0.3);
  *border:1px solid #999;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding-box;
  background-clip:padding-box;
  outline:none;
}          
.table, .table td 
{
  border:1px solid rgba(0, 0, 0, 0.3);
  border-collapse: collapse;
}
.table.th 
{
border: 2px solid green;
}