#tabs{
    
}

#tabs > .dashboard-cell > .dashboard-panel{
    margin-bottom: 0px;
    border-bottom: 0px;
}

#element1 > .html{
    padding-left: 0px; /* This fixes some weirdness where the first tab doesn't look right due to the left part of the tab showing */
    padding-right: 0px;
    padding-top: 0px;
}

#tab_1 > .dashboard-cell > .dashboard-panel{
    border-top: 0px;
}

#tabs {
  text-align: center;
  list-style: none;
  margin: 0px 0 00px;
  padding: 0;
  line-height: 35px;
  height: 37px;
  overflow: none;
  font-size: 12px;
  position: relative;
  margin:1px 0 00px;
  padding-top:0px;
  border-bottom: 0px;
}
#tabs:before {
  position: absolute;
  content: "";
  width: 100%;
  top: 0;
  left: 0;
  border-top: 1px solid #FFF;
  z-index: 1;
}

#tabs li {
  border:1px solid #EEF6EE;
  background: #EEF6EE;
  background: linear-gradient(top, #ECECEC 50%, #D1D1D1 100%);
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  margin:1px;
  padding:0 1px;
}

#tabs li:before,
#tabs li:after {
  border:1px solid #ECECEC;
  box-shadow:-2px 0px 0 #ECECEC;
  position: absolute;
  top: -1px;
  width: 6px;
  height: 6px;
  content: "";
  box-shadow:0px 0px 0 #ECECEC;
}

#tabs li:before {
  left: -7px;
  border-top-right-radius: 0px;
  border-width: 1px 1px 0px 0px;
}

#tabs li:after {
  right: -7px;
  border-top-left-radius: 0px;
  border-width: 1px 0px 0px 1px;
  box-shadow:-2px 0px 0px #ECECEC;
}

#tabs li.active {
  border:1px solid #40A540;
  background: linear-gradient(top, #ECECEC 50%, #DFF2DF 100%);
  display: inline-block;
  position:relative;
  z-index: 0;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
  margin:1px;
  padding:0 1px;
}
.nav-tabs > li > a::before {
    content: "";
    position: absolute;
    width: calc(100% - 30px);
    height: 0;
    bottom: 0;
    left: 0px !important;
    background-color: #e1e6eb;
    transition: height .2s;
}

#tabs li.active a::before {
    height: 3px;
    background-color: #40A540;
}

#tabs li a:focus {
    box-shadow: none !important;
    border-collapse: none !important;
    outline: 0 !important;
    text-decoration: none !important;
    box-shadow: inset 0 0 0px 0px #DFF2DF,inset 0 0 0 0px #40A540 !important;
    background-color: transparent !important;
    border-radius: 0px !important;
}