<div id="finish-page" class="wizard-page-part">
    <h1 align="center"><i class="icon-check"> </i>Success! The Splunk App for Windows Infrastructure has been configured</h1>
    <div class="page-section">
        <table class="hiddenBorders" align="center">
            <tr class="page-link">
                <td class="page-link">
                    <a id="windows-home" href="windows_home" class="btn btn-primary page-link">Windows Overview</a>
                </td>
                <td>View an overview of Windows hosts in your environment</td>
            </tr>
            <tr class="page-link">
                <td class="page-link">
                    <a id="ad-home" href="ad_ops_topology" class="btn btn-default page-link">Active Directory Overview</a>
                </td>
                <td>View an overview of your Active Directory environment.</td>
            </tr>
            <tr class="page-link">
                <td class="page-link">
                    <a href="default" class="btn btn-default page-link">Home</a>
                </td>
                <td>View the home page.</td>
            </tr>
        </table>
    </div>
</div>